
{% extends '../index.html' %}
{% load static %}

{% block content %}
{% include './navBar-deco.html' %}
<div class="container bg-dark mt-4 w-50">
    <canvas id="myChart" ></canvas>
</div>
<div class="h-100 d-flex align-items-center justify-content-space-center">
    <button type="button" class="btn btn-outline-light mx-auto">< Précédent</button>
    <button type="button" class="btn btn-outline-light mx-auto">Suivant ></button>
</div>



{% include './NavPrivateMenu.html' %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
<script src ="{% static 'js/graphThr.js' %}"></script>
{% endblock content %}