{% extends '../index.html' %}

{% block content %}

<div class="container bg-dark mt-4 w-50">
    <canvas id="myChart" ></canvas>
</div>
<div class="h-100 d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-outline-light mx-auto">< Précédent</button>
    <button type="button" class="btn btn-outline-light mx-auto">Suivant ></button>
</div>

{% comment %} <button id="btn-1">
    teste
</button> {% endcomment %}
<script>

    async function getGraphData(url=null, method='POST', params=null, csrfToken=false){
        const data = new FormData()

        if(params != null){
            try{
                checker = JSON.stringify(params)
                Object.entries(params).forEach(param => {
                    data.append(param[0], param[1])
                });

            }catch(error){
                console.log(error);
                alert('Désoler une erreur est survenue veuillez recharger la page !')
            }
        }   

        if(csrfToken) data.append('csrfmiddlewaretoken', csrfToken)

        const request = await window.fetch(url, {
            method: method ?? method,
            body: data,
        })
        
        const JsonResponse = await request.json()
        console.log(JsonResponse);
        // return request
    }

    document.addEventListener('DOMContentLoaded', async () => {
        let response = getGraphData('http://127.0.0.1:8000/private/graph/api', method='POST', params={
            'year': '2022',
            'page': '0'
        }, '{{ csrf_token }}')


    /*    const btn = document.getElementById('btn-1')
        btn.addEventListener('click', ()  => {
            const response =  getGraphData('http://127.0.0.1:8000/private/graph/api', method='POST', params={
                'year': '2022',
                'page': '0'
            }, '{{ csrf_token }}')
        })*/

    })

</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
{% include './NavPrivateMenu.html' %}
{% endblock content %}