{% extends '../index.html' %}

{% block content %}

{% include './navBar-co.html' %}
<article class="d-flex justify-content-center mt-3">
    <ul class="list-group w-25 mx-1 my-auto">
        <li class="list-group-item active bg-dark border-light" aria-current="true">DATE</li>
        {% for scrap in last_scraps %}
            <li class="list-group-item">00/00/00</li>
        {% endfor %}
      </ul>
      <ul class="list-group w-25 mx-1">
        <li class="list-group-item active bg-dark border-light" aria-current="true">SITE</li>
        {% for scrap in last_scraps %}
            <li class="list-group-item">{{scrap.site_name}}</li>
        {% endfor %}
      </ul>
      <ul class="list-group w-25 mx-1">
        <li class="list-group-item active bg-dark border-light" aria-current="true">ETAT</li>
        {% for scrap in last_scraps %}
            <li class="list-group-item">{{scrap.state}}</li>
        {% endfor %}
      </ul>
</article>
{% endblock content %}