{% extends '../index.html' %}

{% block content %}
    <div class="container d-flex full-height justify-content-center align-items-center">
        <div class="card">
            <div class="card-header">
                <p class="card-title text-center fs-4">Connexion</p>
            </div>

            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-floating">
                        {{ login_form.username }}
                        <label class="form-label" for="{{login_form.username.id }}">{{ login_form.username.label }}</label>
                    </div>

                    <div class="form-floating my-3">
                        {{ login_form.password }}
                        <label class="form-label" for="{{ form_login.password.id }}">{{ form_login.password.label}}</label>
                    </div>

                    <div class="container d-flex justify-content-center my-2">
                        <button type="submit" class="btn btn-primary btn-block">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
