{% extends '../index.html' %}

{% block content %}
    
{% include './navBar-deco.html' %}
    <div class="container w-100">
        <ul class="list-group w-75 mx-auto my-5">
            <li class="list-group-item active bg-dark border-light" aria-current="true">SITE</li>
                
                {% for site in tgsites %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <a href="/private/tg-site/{{site.id}}"><li class="list-group-item">{{site.name}}</li></a>
                        <input type="text" hidden name="tgsite_id" value="{{site.id}}">
                        <button type="submit" name="delete_tgsite">delete</button>       
                    </form>
                {% endfor %}             


          </ul> 
    </div>



    <!-- Button trigger modal -->
    <div class ="h-100 d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ajouter un site à scraper
    </button>
    </div> 


    <!-- Modal -->

   
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un site</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{add_TGSite_form.as_p}}

                        <div class="modal-footer">
                            <button type="submit" name='add_tgsite' class="btn btn-primary">Ajouter le site</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% for site in tgsites %}
    {{site.name}}
    
{% endfor %}
{{tgsites.has_next}}

{% endblock content %}