{% extends '../index.html' %}

{% block content %}
    
{% include './navBar-deco.html' %}
    <div class="container w-100">
        <ul class="list-group w-75 mx-auto my-5">
            <li class="list-group-item active bg-dark border-light" aria-current="true">SITE</li>
                <a href="#"><li class="list-group-item">Site à scrapper 1</li></a>
                <a href="#"><li class="list-group-item">Site à scrapper 2</li></a>
          </ul> 
    </div>



    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Ajouter un site à scraper
    </button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ajouter un site</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{add_TGSite_form.as_p}}

                        <div class="modal-footer">
                            <button type="submit" name='add_tgsite' class="btn btn-primary">Ajouter le site</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>




   <a href="/logout">DECONNEXION</a>

{% for site in tgsites %}
    {{site.name}}
    
{% endfor %}
{{tgsites.has_next}}

{% endblock content %}