{% extends '../index.html' %}
{% load static %}

{% block content %}
    
    {% include './navBar-deco.html' %}
    <div class="container-fluid">
        <div class="col">
            <div class="btn" style="color: white;">
                <button id="start_scrap_btn">
                    start scrap
                </button>
            </div>
            <div class="text-light">
                <h3>ETA</h3>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col text-light">
            <h3>Zone affichage relevee scrap</h3
                
        </div>
    </div>



    <script>
        document.addEventListener('DOMContentLoaded', ()=>{
            const start_scrap_btn = document.getElementById('start_scrap_btn')
            start_scrap_btn.onclick = () => {
                
            }
        })
    </script>
    {% include './NavPrivateMenu.html' %}
{% endblock content %}