{% extends '../index.html' %}
{% load static %}

{% block content %}
    
    <div class="container-fluid">
        <div class="col">
            <div class="btn" style="color: white;">
                <button id="start_scrap_btn">
                    start scrap
                </button>
            </div>
            <div class="text-light">
                <h3>ETA</h3>
            </div>
        </div>
        <div class="w-100"></div>
        <div class="col text-light">
            <h3>Zone affichage relevee scrap</h3>
        </div>
    </div>



    <script>
        async function getScrapData(url=null, method='POST', params=null, csrfToken=false){
            const data = new FormData()
            
            if(params != null){
                
                try{
                    checker = JSON.stringify(params)
                    Object.entries(params).forEach(param => {
                        data.append(param[0], param[1])
                    });
    
                }catch(error){

                    console.log(error);
                    alert('Désoler une erreur est survenue veuillez recharger la page !')
                }
            }   
    
            if(csrfToken) data.append('csrfmiddlewaretoken', csrfToken)

            const request = await window.fetch(url, {
                method: method ?? method,
                body: data,
            })

            let json = await request.json()



            console.log(json);

            // console.log(request)
            // console.log(typeof(data))
            
            // request.json().then(data => {
            //     console.log(data)
            // })
            //console.log(JsonResponse);
            // return request
        }
    

        document.addEventListener('DOMContentLoaded', async =>{
            const start_scrap_btn = document.getElementById('start_scrap_btn')
            start_scrap_btn.onclick = () => {
                
                let response = getScrapData('http://127.0.0.1:8000/private/relevee/scrap/start/1', method='POST', params={}, '{{ csrf_token }}')
            }
        })
    </script>

    {% include './NavPrivateMenu.html' %}
{% endblock content %}