{% extends '../index.html' %}
{% load static %}

{% block content %}
    
    <div class="container-fluid w-75 h-100 d-flex flex-row">
        
        <div class="col d-flex flex-column w-25 m-0">
            <button class="row btn btn-outline-success w-75 py-5 m-5" id="start_scrap_btn">
                Commencer le SCRAP
            </button>
            <div class="text-light border border-light w-75 p-5 m-5">
                <h3>Statut</h3>
                </div>
        </div>
        <div class="col text-light w-50 h-cover border border-light m-2" style="height: 63vh;">
            <h3 class="text-center p-3">Zone d'affichage du scrap</h3>
            {% comment %} ajouter les data du scrap avec un JSON  {% endcomment %} 
        </div>
        
        
    </div>



    <script>
        async function getScrapData(url=null, method='POST', params=null, csrfToken=false){
            const data = new FormData()
            
            if(params != null){
                
                try{
                    checker = JSON.stringify(params)
                    Object.entries(params).forEach(param => {
                        data.append(param[0], param[1])
                    });
    
                }catch(error){

                    console.log(error);
                    alert('Désoler une erreur est survenue veuillez recharger la page !')
                }
            }   
    
            if(csrfToken) data.append('csrfmiddlewaretoken', csrfToken)

            const request = await window.fetch(url, {
                method: method ?? method,
                body: data,
            })

            let json = await request.json()



            console.log(json);

            // console.log(request)
            // console.log(typeof(data))
            
            // request.json().then(data => {
            //     console.log(data)
            // })
            //console.log(JsonResponse);
            // return request
        }
    

        document.addEventListener('DOMContentLoaded', async =>{
            const start_scrap_btn = document.getElementById('start_scrap_btn')
            start_scrap_btn.onclick = () => {
                
                let response = getScrapData('http://127.0.0.1:8000/private/relevee/scrap/start/1', method='POST', params={}, '{{ csrf_token }}')
            }
        })
    </script>

    {% include './NavPrivateMenu.html' %}
{% endblock content %}