{% extends '../index.html' %}

{% block content %}
    <div class="" style="color: white;">
        Site: {{site_name}} <br>
        url à scrapper: {{ site_url_to_scrapp }}     
    </div>


    <main>
        
        <div class ="titre-accueil container1">
            <h2 class="">Nom du site scrappé</h2>
        </div>

        <div class="containerP">
            <div class = "historique container2">
                <a href="#" id="btn1">Historique</a>
            </div>

            <div class = "graphique container3">
                <a href="#" id="btn2">Graphique</a>
            </div>

            <div class = "relevé container4">
                <a href="#" id="btn3">Eelevé</a>
            </div>

            <div class = "dernier-relevé container5">
            <a href="#" id="btn4">Dernier Relevé</a>
            </div>

        </div>

    </main>



    {% include './NavPrivateMenu.html' %}
{% endblock content %}